<div>
  <app-item-detail-preview [item]="item" class="pointer-events-none"></app-item-detail-preview>
    <!-- <img [src]="'..' + item.image" class="h-3/4 w-auto mb-4"> -->
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
    <div *ngFor="let custom_option of item.custom_options; let i = index">
      <div class="relative inline-block text-left w-full md:w-auto">
        <div>
          <div>{{custom_option.name}}</div>
          <button type="button"
            class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-1 text-sm font-semibold text-gray-700 shadow-sm ring-1 ring-inset ring-gray-200 hover:bg-gray-50"
            id="menu-button"
            (click)="toggleDropdown(item.id + '_' + custom_option.name)"
            [attr.aria-expanded]="isDropdownOpen(item.id + '_' + custom_option.name)"
            aria-haspopup="true">
            {{ selectedDetails[item.id + '_' + custom_option.name] || custom_option.options[0].name }}
            <svg class="w-4 h-4 pt-1.5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
        <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
          *ngIf="isDropdownOpen(item.id + '_' + custom_option.name)"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="menu-button"
          tabindex="-1">
          <div class="py-1 overflow-y-auto" style="max-height: 12rem;" role="none"> <!-- Set a max-height here -->
            <a *ngFor="let option of custom_option.options; index as j"
              href="#"
              class="block px-4 py-2 text-sm hover:bg-dope-blue"
              (click)="handleClick(item.id + '_' + custom_option.name, option.name, option, custom_option.id)"
              role="menudetail"
              tabindex="-1"
              [attr.id]="'menu-detail-' + j">
              {{ option.name }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  