<div *ngFor="let custom_option of item.custom_options; let i = index">
    <div class="relative inline-block text-left">
        <div>
            <button type="button" 
                class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" 
                id="menu-button" 
                (click)="toggleDropdown(item.id + '_' + custom_option.name)" 
                [attr.aria-expanded]="isDropdownOpen(item.id + '_' + custom_option.name)"
                aria-haspopup="true">
                {{selectedDetails[item.id + '_' + custom_option.name] || custom_option.name}}
                <svg>
                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                </svg>
          </button>
        </div>
        <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" 
        *ngIf="isDropdownOpen(item.id + '_' + custom_option.name)" 
        role="menu" 
        aria-orientation="vertical" 
        aria-labelledby="menu-button" 
        tabindex="-1">
            <div class="py-1" role="none">
            <a *ngFor="let option of custom_option.options; index as j" 
                href="#" 
                class="block px-4 py-2 text-sm"
                (click)="selectDetail(item.id + '_' + custom_option.name, option)" 
                role="menudetail" 
                tabindex="-1" 
                [attr.id]="'menu-detail-' + j">
                {{option}}
            </a>
            </div>
        </div>
    </div>    
</div>
